html, body {
    margin: 0;
    padding: 0;
}

.user .btn{
    margin-top: 7%;
}

ul.perfil li {
    list-style: none;
    font-size: 16px;
}

.user .btn.btn-new-user,
.btn.btn-new-formacao,
.user .btn.btn-buscar {
    margin-top: 9%;
}

.table-usuarios tbody tr td,
.table-formacoes tbody tr td,
.table-cursos tbody tr td,
.table-videos tbody tr td {
    vertical-align: middle !important;
}

.head-categoria {
    font-size: 20px;
    font-weight: bold;
}

.head-subcategoria {
    font-size: 16px;
    font-weight: bold;
    background-color: #EEE;
}